<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">{{ _('Currency') }}</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: settings.plugins.cost.currency">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ _('Cost per hour') }}</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: settings.plugins.cost.cost_per_hour">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ _('Cost per meter') }}</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: settings.plugins.cost.cost_per_meter">
    </div>
  </div>
</form>
